@charset "UTF-8";

/* 共通部分
-----------------------------------*/
html{
    font-size: 100%;
}
body {
    font-family: 'DotGothic16', sans-serif;
    color: rgb(66, 69, 71);
}
h1 {
    color: #ed2222;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
h2 {
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
a {
    text-decoration: none;
}
ul {
    list-style-position: inside;
}
li {
    margin-bottom: 5px;
    padding: 5px;
}
table {
    margin: 3px auto;
    /* border-collapse: collapse; */
}
.wrapper {
    width: 600px;
    margin: 30px auto;
    padding: 40px 50px;
    border: 2px solid #dfdfdc;
    border-radius: 20px;
    background-color: #fff7f7;
}

ボタン
.btn {
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.btn:hover {
    background-color:#93d8d0;
}
.first-btn,
.second-btn,
.ambulance-btn,
.tamura-btn,
.go_out-btn,
.exclusion-btn {
    font-size: 1rem;
    text-align: center;
    height: auto;
    padding: auto;
    /* box-shadow: 0 3px 0 #a5a5a5; */
}
.first-btn {
    background-color: #fe6d49;
}
.second-btn {
    background-color: rgb(191, 255, 131);
}
.ambulance-btn {
    background-color: rgb(47, 147, 240);
}
.tamura-btn {
    background-color: #be84c7;
}
.go_out-btn {
    background-color: rgb(145, 145, 145);
}
.exclusion-btn {
    background-color: rgb(145, 145, 145);
}
.db-connect{
    text-align: right;
    margin: 0 0 0 auto;
}
.db-connect-confirmation {
    text-align: right;
    margin: 0 0 0 auto;
    margin-bottom: 10px;
    color: #4394eb;
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}
    @-webkit-keyframes blink {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
    @keyframes blink {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.first-unit {
    margin-bottom: 20px;
}
.second-unit {
    margin-bottom: 20px;
}
.ambulance-unit {
    margin-bottom: 20px;
}
.tamura-unit {
    margin-bottom: 20px;
}
.go_out {
    margin-bottom: 20px;
}
.exclusion {
    margin-bottom: 20px;
}
